
/*Global Setup*/
*{
    font-family:'Neue Haas Grotesk Display Pro', sans-serif;
}


/* Background and child setup */
body{
    background-color: #663d39;

    display: flex;
    flex-direction: column;
    align-items: center;
}



/* mainframe for the whole structure */
.mainbody{
    width: 85%;
    height: 95vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* textarea for the title*/
.title{
    width: 100%;
    height: 100%;
    rotate: 0deg;

    font-size: clamp(12rem, 10vw + 10rem, 24rem);
    font-weight: bold;
    line-height: calc(0.8em + 0.1vw);
    writing-mode: horizontal-tb;
    color: #362724;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    animation:titel-intro 2s forwards, title-static 5s infinite;
}



/* textarea for the red section */
.redbox{
    
    padding-left: 3%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0%;
    height: 40%;
    width: 100%;
    
    font-family: Calibri;
    font-size: clamp(1.5rem, 3vw, 2.5rem);         /*clamp(1.5rem, 3vw, 2.5rem)*/
    font-weight: bold;
    line-height: clamp(1rem, 3vw, 2rem);        /*clamp(1rem, 3vw, 2rem)*/
    writing-mode: horizontal-tb;
    color: #362724;
    background-color: #b9322e;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    animation-name: redbox-intro;
    animation-duration: 1s;
}


/*Tablet-Mode*/

@media (max-width: 900px) { 
    .mainbody{
        rotate: 180deg;
        height: 95vh;

        flex-direction: row-reverse;
        align-items:flex-start;
        justify-content: flex-end;
        writing-mode: horizontal-tb;
    }
    .title{
        padding-top: 0%;
        padding-bottom: 0%;
        height: 100%;
        width: 50vw;
        rotate: 0deg;
        
        font-size: 30vw;
        text-align: left;
        writing-mode: vertical-rl;
        line-height: 25vw;

        display: flex;
        flex-direction: row;
        transform-origin: center;
        animation:titel-intro 2s;
    }
    .redbox{
        
        height: 25%;
        width: 100%;
        rotate: 180deg;
        padding-left: 2%;
        
        font-size: 3vw;
        line-height: 3vw;
        writing-mode: horizontal-tb;
        
        flex-direction: row;
    }
}


/*Phone-Mode*/

@media screen and (max-width: 600px) { 
    .mainbody{
        height: 95vh;
        width: 80%;
        padding: 5%;
        rotate: 180deg;

        writing-mode: horizontal-tb;
        
        flex-direction: column-reverse;
        align-items:center;
        justify-content: flex-end;
    }
    .title{
        height: auto;
        
        font-size: 35vw;
        line-height: 30vw;
    }
    .redbox{
        height: 50%;
        width: 100%;
        padding-left: 5%;
        rotate: 180deg;
        
        font-size: 4vw;
        line-height: 4vw;
        writing-mode: horizontal-tb;

        flex-direction: row;
        align-items: center;
    }
}

/* Animations */

@keyframes titel-intro{
    0%{
        transform: translate(0, -1000px);
        color: #663d3900;
    }
    70%{
        color: #663d39;
    }
    100%{
        transform:translate(0px,0);
        color: #362724;
    }
}
@keyframes redbox-intro{
    0%{
        transform: translate(0, 500px);
        background-color: #663d39;
        color: rgba(0, 0, 0, 0);
    }
    70%{
        background-color: #663d39;
        transform: translate(0, 200px);
        color: rgba(0, 0, 0, 0);
    }
    100%{
        transform:translate(0px,0);
        background-color:#b9322e;
        color: #362724;
    }
}
@keyframes title-static{
    0%{
        line-height: calc(0.8em + 0.1vw);
        color: #362724;
    }
    50%{
        line-height: calc(0.82em + 0.1vw);
        color: #3a241f;
    }
    100%{
        line-height: calc(0.8em + 0.1vw);
        color: #362724;
    }
}